<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="openaction" content="#view=fit">
  <meta name="author" content="<%= meta.author %>" />
  <% if (meta.description && meta.description.length > 0) { %>
  <meta name="description" content="<%= meta.description %>" />
  <% } %>
  <title><%= meta.title %></title>
  <link rel="stylesheet" href="../css/github-markdown.css">
  <link rel="stylesheet" href="../css/custom.css">
</head>
<body>
  <% 
    const frontCover = meta.frontCover || {};
    const backCover = meta.backCover || {};
    const frontTitle = frontCover.title || meta.title;
    const frontAuthor = frontCover.author || meta.author;
    const frontPublished = frontCover.published || frontCover.pubDate || meta.published;
    const frontDescription = frontCover.description || meta.description;
    const backTitle = backCover.title || meta.title;
    const backPublished = backCover.pubDate || backCover.published || meta.published;
    const backCopyright = backCover.copyright || meta.copyright;
    const backDescription = backCover.description || meta.description;
  %>
  <div class="FrontCover">
    <h1><%= frontTitle %></h1>
    <div class="Published"><%= frontPublished %></div>
    <div class="Author"><%= frontAuthor %></div>
    <% if (frontDescription) { %>
    <p class="Description"><%= frontDescription %></p>
    <% } %>
  </div>
  <article class="markdown-body">
  <%- include('../work/all_md.html') %>
  </article>
  <div class="BackCover">
    <% if (backDescription) { %>
    <p class="Description"><%= backDescription %></p>
    <% } %>
    <div class="Colophon">
      <span class="Title"><%= backTitle %></span><br>
      <span class="PubDate"><%= backPublished %></span><br>
      <span class="Copyright"><%= backCopyright %></span>
    </div>
  </div>
</body>
</html>
